{% extends "layout_acc.html" %}
{% block content %}
    <h1>{{ current_user.name }}</h1>
	

  <div class="content-section">	
    <p>Diagnoser:</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Dato</th>
          <th scope="col">Diagnose</th>
          <th scope="col">Indsigelse</th>
        </tr>
      </thead>
      <tbody>
      {% for n in diagnoser %}
        <tr>
          <th scope="row">{{n[0]}}</th>
          <td>{{n[1]}}</td>
          <td>{{n[2]}}</td>
          <td>{{n[3]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>
  <div class="content-section">
    <p>Indsigelser:</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Dato</th>
          <th scope="col">Diagnose</th>
          <th scope="col">Kommentar</th>
        </tr>
      </thead>
      <tbody>
      {% for n in inds %}
        <tr>
          <th scope="row">{{n[0]}}</th>
          <td>{{n[1]}}</td>
          <td>{{n[2]}}</td>
          <td>{{n[3]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>

	
{% endblock content %}
