{% extends "layout.html" %}
{% block content %}
    <h1>Om MinSP Prototype</h1>
	<p>MinsSP Prototype er et resultat af et UIS projekt kørt af teamet bestående af:</p>
        <p>Projektgruppen:</p>
        <ul>
            <li>Asta Gottlieb</li>
            <li>Frida Petersen</li>
            <li>Sarah Willerup</li>
            <li>Silja Benjaminsen</li>
        </ul>
        <p>Styregruppen:</p>
        <ul>
            <li>Anders Lassen</li>
            <li>Finn Kensing</li>
            <li>Jan Rolandsen</li>
            <li>Marcos Vas Salles</li>
        </ul>
	<p>Vi har lavet testprofiler med cpr-numrene '1234567890' til '1234567894' og alle med passwordet 'UIS'. For at se en testindsigelse, kan du logge ind med cpr-nummeret '1234567890'.</p>
{% endblock content %}

