{% extends "layout_acc.html" %}
{% block content %}
    <h2>Diagnoser og allergier</h2>
    <p>Her kan du se dine diagnoser og allergier (hvis du har nogen). Du kan desuden gøre indsigelse mod eventuelle fejldiagnoser ved at vælge "Gør indsigelse".</p>
    <p>Linket "Gør indsigelse" tager dig til en side, hvor du kan vælge hvilken diagnose, du vil gøre indsigelse mod. Der kan du bl.a. overskrive en eksisterende indsigelse. Se mere ved at klikke på linket.</p>

  <div class="content-section">	
    <h5>Dine diagnoser:</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Dato</th>
          <th scope="col">Diagnose</th>
          <th scope="col">Indsigelse</th>
        </tr>
      </thead>
      <tbody>
      {% for n in diagnoser %}
        <tr>
          <th scope="row">{{n[1]}}</th>
          <td>{{n[2]}}</td>
            {% if n[3] %}
                <td>Indsigelse oprettet</td>
            {% else %}
                <td>
                <a class="nav-item nav-link" href="{{ url_for('Profil.indsigelse') }}">Gør indsigelse</a></li>
{#                    <input type="button" value="Gør indsigelse" onclick= "{{ url_for('Profil.indsigelse') }}"/>#}
                </td>
            {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>
  <div class="content-section">
    <h4>Dine aktive indsigelser:</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Dato</th>
          <th scope="col">Diagnose</th>
          <th scope="col">Kommentar</th>
        </tr>
      </thead>
      <tbody>
      {% for n in inds %}
        <tr>
          <th scope="row">{{n[0]}}</th>
          <td>{{n[1]}}</td>
          <td>{{n[2]}}</td>
          <td>{{n[3]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>

	
{% endblock content %}
